[Desktop Entry]
Encoding=UTF-8
Name=webde
Name[zh_CN]=webde
Comment=webde
Exec=/usr/share/webde/node-webkit/nw /usr/share/webde/demo-webde
Icon=webde.png
Terminal=false
Type=Application
Categories=Application;Utility;

